* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

.over-all{
    /* Its not working */
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* Header and nav style */
nav {
    display: flex;
    /* ak line e niye asbe. */
    justify-content: space-between;
    /* duitake dui prante niya jay*/
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}
/* Banner Style */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-discription{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* about section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    text-align: center;
    margin-top: 20px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-discription{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;/* around space ney */
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}